<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./complanint.component.css">
</head>
<body>

<h3>Add Your Complanint</h3>

<div class="container">
  <form action="/action_page.php">


    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email address..">

    <label for="Type">Complanint Type</label>
    <select id="typr" name="country">
      <option value="Acadamic">Acadamic</option>
      <option value="Sport">Sport</option>
      <option value="Non-acadamic">Non-acadamic</option>
    </select>

    <label for="Description">Description</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>
